<!--当前模板默认只改变工作区-->
<?php $time = time(); ?>
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0">
    <!-- CSS-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__css/main.css?t={$time}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__css/font-awesome.min.css">
    {block name="title"}<title>__TITLE__</title>{/block}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!--if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    -->
  </head>
  <body class="sidebar-mini fixed">
    <div class="wrapper">
      <!-- 顶部导航-->
      {include file="Common:header" /}

      <!-- 左侧竖导航条-->
      {include file="Common:sidebar" /}


      <div class="content-wrapper">


      <!-- 右侧顶部面包屑-->
      {include file="Common:breadcrumb" /}


        <!--如果含子菜单就包含进来-->
      {if condition="($base_info.sub_menu != null)"}
        {include file="Common:sub_menu" /}
      {/if}


    {volist name="$pagegroup" id="item"}

      {switch name="item"}

        {case value="nav_btns"}{include file="Common:nav_btns" /}{/case}
        {case value="search"}{include file="Common:search" /}{/case}
        {case value="list_header"}{include file="Common:list_header" /}{/case}
        {case value="list_body"}{include file="Common:list_body" /}{/case}
        {case value="list_footer"}{include file="Common:list_footer" /}{/case}

        {case value="edit_form"}{include file="Common:edit_form" /}{/case}
        {case value="add_form"}{include file="Common:add_form" /}{/case}
        {case value="cmplate"}{include file="Common:cmplate" /}{/case}

        {default /}未定义模块
      {/switch}

    {/volist}






      {include file="Common:footer" /}

      </div>
    </div>




    <!-- Javascripts-->
    <script src="__PUBLIC__js/jquery-2.1.4.min.js"></script>
    <script src="__PUBLIC__js/bootstrap.min.js"></script>
    <script src="__PUBLIC__js/plugins/pace.min.js"></script>
    <script src="__PUBLIC__js/main.js"></script>

{block name="ftscript"}{/block}
  </body>
</html>
